input.login {
	width: 220px;
}

input.submit {
	width: 100px;
}

h1 a {
	color: #000;
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

.errorText {
	color: #8a1f11;
}

.read {
	float: right;
}

.clean {
	clear: both;
}